<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h4>Order Details</h4>
    </div>
    <div class="card-body">
      <!-- <p><strong>ID:</strong> {{ order.id }}</p> -->
      <p><strong>Type Presta:</strong> {{ orderDTO.typePresta }}</p>
      <p><strong>Designation:</strong> {{ orderDTO.designation }}</p>
      <!-- <p><strong>Designation:</strong> {{ orderDTO.client.fname }}</p> -->
      <!-- <p><strong>Client:</strong> {{ order.client.companyName }} - {{ order.client.firstName }} {{ order.client.lastName }} ({{ order.client.email }})</p> -->
      <p><strong>Number of Days:</strong> {{ orderDTO.nbDays }}</p>
      <p><strong>Unit Price:</strong> {{ orderDTO.unitPrice }}</p>
      <!-- <p><strong>Total (Exclude Tax):</strong> {{ order.totalExcludeTaxe}}</p>
      <p><strong>Total (With Tax):</strong> {{ order.totalWithTaxe}}</p> -->
      <p><strong>State:</strong> {{ orderDTO.state }}</p>
    </div>
  </div>
</div>
